.cart-card {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #c6c6c6;
    width: 550px;
    justify-content: space-between;
    margin: 1rem 0;
}

.cart-card1 {
    width: 300px;
}

.cart-card-part1{
    display: flex;
    align-items: center;
}

.cart-card-part2 {
    height: 72px;
    overflow:auto;
}

.cart-card-part4 button {
    border: none;
    background-color: transparent;
    margin: .5rem 0;
}

.cart-card-part3 {
    display: flex;
    align-items: center;
}

.cart-card-part3 p{
    padding: 0 1rem;
    /* border: 0.5px solid #666666; */

}

.cart-card-part3 button{
    background-color: transparent;
    border: 0.5px solid #666666;
    width: 21px;
    height: 21px;
}

.cart-card-part4 {
    display: flex;
    flex-direction: column;
}

@media(max-width: 768px){
    .cart-card {
        width: 350px;
        justify-content: space-between;
    }

    .cart-main-img {
        width: 100%;
    }

    .cart-card-part1, .cart-card-part2, .cart-card-part3{
        padding: 0 1rem;
    }
}
