.login-form {
    display: flex;
    padding: 4rem;
    flex-wrap: wrap;
    justify-content: center;
}

.login-sec-2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-self: center;
}

.login-sec-2 button {
    padding: 0.5rem 1rem;
    background-color: red;
    color: white;
    border: none;
    border-radius: 15px;
}

.login-form input {
    padding: 0.5rem 1rem;
    width: 300px;
}
